/__pycache__/
/venv/
/env/
/build/
/dist/
/node_modules/
/migrations/
/static/
/media/
/logs/
/.venv/
/.idea/
/.vscode/
.docs/
.github/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
*.AppleDouble
*.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.code-workspace
.env
.env.*
!.env.example
*.secret
*.pem
*.crt
*.key
*.lock
*.coverage
.coverage.*
.cache
*.tgz
*.tar.gz
*.zip
*.7z
*.gz
*.rar
*.out
*.class
*.o
*.so
*.exe
*.dll
*.iml
*.ipr
*.iws
*.pid
/backend/__pycache__/
/backend/build/
/backend/dist/
/backend/*.spec
docker-compose.override.yml
*.env.docker
.pytest_cache/
client_secret.json
client_secrets.json:Zone.Identifier
