<!DOCTYPE HTML>
<html>

<head>
    <title>{{ page_title|default('Alma Negra - System') }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png', v=config.get('GIT_SHA','')) }}"
        type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css', v=config.get('GIT_SHA','')) }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css', v=config.get('GIT_SHA','')) }}" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    {% block extra_head %}{% endblock %}
</head>