<!DOCTYPE HTML>
<html>

<head>
    <title>{{ page_title|default('Alma Negra - System') }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    {% block extra_head %}{% endblock %}
</head>