{% set page_title = 'Login - Alma Negra' %}
{% include 'partials/_head.html' %}

<body class="is-preload">
    {% include 'partials/_flash_messages.html' %}
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <!-- Header com botões alinhados -->
                <header id="header" class="login-button-container">
                    <a href="#" class="logo"><strong>Login</strong> com Google</a>
                    <a href="{{ url_for('google_login.login') }}" class="button primary">
                        <i class="fab fa-google"></i> Entrar com Google
                    </a>
                </header>
                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <span class="image object">
                            <img src="{{ url_for('static', filename='images/logo-1200x800.png', v=config.get('GIT_SHA','')) }}"
                                alt="Logo Alma Negra Tattoo & Piercing" />
                        </span>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {% include 'partials/_base_scripts.html' %}
</body>

</html>