{% set page_title = 'Nova Sessão' %}
{% include 'partials/_head.html' %}

<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <header id="header">
                    <a href="#" class="logo"><strong>Nova Sessão</strong></a>
                </header>
                <section>
                    <header class="main">
                        <h1>Criar Nova Sessão</h1>
                        <!-- REMOVE CSS INLINE - USE EXISTING CLASSES, CHECK OTHER HTML PAGES -->
                    </header>
                    <form method="post" action="{{ url_for('sessoes.nova_sessao') }}" class="form">
                        <div class="form-container">
                            <div class="flex-form-row">
                                <div class="flex-form-field">
                                    <label for="data">Data</label>
                                    <input type="date" name="data" id="data" required class="full-width" {% if event and
                                        event.start_time %}value="{{ event.start_time.strftime('%Y-%m-%d') }}" {% endif
                                        %}>
                                </div>
                                <div class="flex-form-field">
                                    <label for="cliente_id">Cliente</label>
                                    <select name="cliente_id" id="cliente_id" required class="full-width">
                                        <option value="">Selecione...</option>
                                        {% for client in clients %}
                                        <option value="{{ client.id }}">{{ client.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="flex-form-field">
                                    <label for="artista_id">Artista</label>
                                    <select name="artista_id" id="artista_id" required class="full-width">
                                        <option value="">Selecione...</option>
                                        {% for artist in artists %}
                                        <option value="{{ artist.id }}">{{ artist.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="flex-form-field">
                                    <label for="valor">Valor</label>
                                    <input type="number" name="valor" id="valor" step="0.01" min="0" required
                                        class="full-width">
                                </div>
                                <div class="flex-form-field full-width-field">
                                    <label for="observacoes">Observações</label>
                                    <textarea name="observacoes" id="observacoes" rows="3" class="full-width">{% if event %}{% if event_title_with_suffix %}{{ event_title_with_suffix }}{% else %}{{ event.title }}{% endif %}{% if event.description %}

{{ event.description }}{% endif %}{% endif %}</textarea>
                                </div>

                                {% if event and event.google_event_id %}
                                <!-- Hidden field to store the Google Calendar event ID -->
                                <input type="hidden" name="google_event_id" value="{{ event.google_event_id }}">
                                {% endif %}
                            </div>
                            <div class="form-buttons">
                                <button type="submit" class="button primary">Salvar</button>
                                <a href="{{ url_for('sessoes') }}" class="button">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        {% include 'partials/_sidebar.html' %}
    </div>
    {% include 'partials/_base_scripts.html' %}
</body>

</html>