{% set page_title = 'Novo Item de Estoque' %}
{% include 'partials/_head.html' %}

<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header">
                    <a href="#" class="logo"><strong>Novo Item</strong> de Estoque</a>
                </header>
                <!-- Content -->
                <section>
                    <header class="main">
                        <h1>Novo Item de Estoque</h1>
                    </header>
                    <form id="addItemForm" method="POST" action="{{ url_for('inventory.add_inventory') }}" class="form">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-mobilep">
                                <label for="itemNome">Nome:</label>
                                <input type="text" id="itemNome" name="nome">
                            </div>
                            <div class="col-6 col-12-mobilep">
                                <label for="itemQuantidade">Quantidade:</label>
                                <input type="number" id="itemQuantidade" name="quantidade" min="0" value="0">
                            </div>
                            <div class="col-12">
                                <label for="itemObservacoes">Observações:</label>
                                <input type="text" id="itemObservacoes" name="observacoes">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="button primary">Salvar</button>
                                <a href="{{ url_for('estoque') }}" class="button">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        {% include 'partials/_sidebar.html' %}
    </div>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    {% include 'partials/_base_scripts.html' %}
</body>

</html>